<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    
    <title>DATALAKERS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="css/styles.css">
    <style>
        body        { padding-top:10px; word-wrap:break-word; }
        
    </style>
</head>
<body>

<div class="w3centre1">              

                    <p><strong>LIST OF DATALAKERS</strong></p>      
                    <table border ="1" style="width:100%" id ="t01"> <tr>
                    <th>Name</th></tr>
                                                 
                        <%  results.forEach(function(dbData){ %> <tr>   
                    <td> 
                         <%= dbData.local.email %><br>                                                   
                        <% });  %>  
                        </td>
                         </tr>                     
                        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> back </a>
                        
                        </p>

            
</div>
</body>
</html>
